<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.rimxia.biz.mapper.NotifyMapper">
  <resultMap id="BaseResultMap" type="com.zhu.rimxia.biz.model.domain.Notify">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="notify_id" jdbcType="BIGINT" property="notifyId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="target_id" jdbcType="BIGINT" property="targetId" />
    <result column="target_type" jdbcType="VARCHAR" property="targetType" />
    <result column="remind_type" jdbcType="INTEGER" property="remindType" />
    <result column="sender_id" jdbcType="BIGINT" property="senderId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>