<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.rimxia.biz.mapper.SubscriptionMapper">
  <resultMap id="BaseResultMap" type="com.zhu.rimxia.biz.model.domain.Subscription">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="target_id" jdbcType="BIGINT" property="targetId" />
    <id column="sub_way" jdbcType="VARCHAR" property="subWay" />
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="target_type" jdbcType="VARCHAR" property="targetType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_pull_time" jdbcType="TIMESTAMP" property="lastPullTime" />
  </resultMap>
</mapper>